# https://github.com/air-verse/air/blob/master/air_example.toml

root = "."
tmp_dir = "tmp"

[build]
cmd = "templ generate && go build -o tmp/main.exe cmd/main.go"
bin = "tmp/main.exe"
include_ext = ["go", "templ"]
exclude_dir = ["tmp", "static"]
exclude_regex = ["_templ\\.go$"]
