/* @import url("default.css"); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin-top: 30px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    /* grid-gap: 2px; */
    /* gap: 1px; */
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 2rem;
    background-color: #f0f0f0;
    border: 1px solid #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell.disabled {
    pointer-events: none;
    background-color: #ddd;
    cursor: not-allowed;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
}