package templates

templ Home() {
    <div id="home-container">
        <ul>
            <li><a 
                hx-target="#home-container" hx-swap="outerHTML" hx-push-url="true" 
                hx-get="/">
                Home
            </a></li>
            <li><a 
                hx-target="#home-container" hx-swap="outerHTML" hx-push-url="true" 
                hx-get="/n-in-a-row">
                N in a Row
            </a></li>
        </ul>
    </div>
}