<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Versus Machine</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script type="module" src="/static/js/main.js" defer></script>
</head>
<body>
    <div id="game-container">
        <h1>Tic-Tac-Toe</h1>
        <div id="game-board"></div>
        <p id="status"></p>
        <button id="resetBtn">Reset Game</button>
        <!-- <div id="game-name"></div>
        <div id="game-arena"></div>
        <div id="game-status"></div>
        <button id="game-reset">Restart Game</button> -->
    </div>
</body>
</html>