<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Versus Machine</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <script src="https://unpkg.com/htmx.org"></script> -->
    <script type="module" src="/static/js/main.js" defer></script>
</head>
<body class="h-screen font-sans text-center">
    <div id="game-container" 
        class="flex flex-col items-center">
        <div id="game-name" 
            class="">
            3 in a Row
        </div>
        <div id="game-board" 
            class="grid grid-cols-3">
            <!-- game board goes here -->
        </div>
        <div id="game-status" 
            class="">
            <!-- game status goes here -->
        </div>
        <button id="reset-game" 
            class="px-2 py-1 bg-blue-500 hover:bg-blue-600 text-white rounded-md transition focus:ring-10 focus:ring-blue-500">
            <!-- hx-get="/reset" hx-target="#board" hx-swap="outerHTML" -->
            Restart Game
        </button>
    </div>
</body>
</html>

